@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "American";
  src: url("../components/assets/Typos/American.ttf");
}
@font-face{
  font-family: "MelbergRegular";
  src: url("../components/assets/Typos/MalbergRegular.ttf");
}
@font-face{
  font-family: "MelbergHeavy";
  src: url("../components/assets/Typos/MalbergHeavy.ttf");
}
